$fs-input-text-color: black !default;
$fs-placeholder-color: #999 !default;
$fs-input-height: 35px !default;
$fs-dropdown-bg-color: #fff !default;
$fs-input-padding: 12px !default;
$fs-input-background: #fff !default;
$fs-input-border: 1px solid #ddd !default;
$fs-input-border-focused: 1px solid black !default;

.fio-autocomplete {
  position: relative;

  input {
    padding: 0;
    margin: 0;
  }

  &--wrapper {
    background-color: $fs-input-background;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 20px;
    //min-height: $fs-input-height;
    border: $fs-input-border;

    &:focus-within {
      border: $fs-input-border-focused;
    }
  }

  &--sugg {
    position: absolute;
    //min-height: $fs-input-height;
  }

  &--placeholder {
    white-space: nowrap;
    color: transparent;
    //line-height: $fs-input-height;
  }

  &--mask {
    z-index: 0;
    white-space: nowrap;
    color: $fs-placeholder-color;
    //line-height: $fs-input-height;
  }

  &--input {
    z-index: 1;
    width: 100%;
    text-transform: capitalize;
    //line-height: $fs-input-height;
    background-color: transparent;
    appearance: none;
    padding: 0 $fs-input-padding;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    color: $fs-input-text-color;
    outline: none;
    border: none;
  }

  &--dropdown {
    &-wrapper {
      position: relative;
    }

    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: $fs-dropdown-bg-color;
    //top: calc(8px + #{$fs-input-height});
    box-shadow: 0px 0px 2px black;
    border: 1px solid transparent;
    max-height: 200px;
    overflow-y: scroll;
    list-style: none;
    padding: 8px 0;
    margin: 0;

    &--item {
      padding: $fs-input-padding;
      cursor: pointer;
      background-color: #fff;

      &.selected {
        background-color: #ddd;
      }
    }
  }
}
