$fs-input-text-color: black;
$fs-placeholder-color: #ddd;
$fs-input-height: 35px;
$fs-dropdown-bg-color: #fff;
$fs-input-padding: 12px;
$fs-input-background: #fff;
$fs-input-border: 1px solid #ddd;
$fs-input-border-focused: 1px solid black;

.fio-autocomplete {
  position: relative;
  &--wrapper {
    width: 100%;
    background-color: $fs-input-background;
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: $fs-input-height;
    border: $fs-input-border;
    &:focus-within {
      border: $fs-input-border-focused;
    }
  }
  &--sugg {
    padding: 0 $fs-input-padding;
    min-height: $fs-input-height;
  }
  &--placeholder {
    white-space: nowrap;
    color: transparent;
    line-height: $fs-input-height;
  }
  &--mask {
    white-space: nowrap;
    color: $fs-placeholder-color;
    line-height: $fs-input-height;
  }
  &--input {
    width: 100%;
    position: absolute;
    line-height: $fs-input-height;
    background-color: transparent;
    appearance: none;
    padding: 0 $fs-input-padding;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    color: $fs-input-text-color;
    outline: none;
    border: none;
  }
  &--dropdown {
    position: absolute;
    width: 100%;
    background-color: $fs-dropdown-bg-color;
    top: calc(8px + #{$fs-input-height});
    box-shadow: 0px 0px 2px black;
    border: 1px solid transparent;
    max-height: 200px;
    overflow-y: scroll;
    list-style: none;
    padding: 8px 0;
    margin: 0;
    &--item {
      padding: $fs-input-padding;
      cursor: pointer;
      background-color: #fff;
      &.selected {
        background-color: #ddd;
      }
    }
  }
}
